{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <h1>{{ project.name }}</h1>
                <p><strong>Description:</strong> {{ project.description }}</p>
                <p><strong>Total Budget:</strong> {{ project.total_budget }}</p>
                <p><strong>Deadline:</strong> {{ project.deadline }}</p>  <!-- Добавлено поле deadline -->
                
                {% for project_category in project_categories %}
                <div class="alert alert-danger" role="alert">
                    <p><strong>Category:</strong> {{ project_category.category.name }}</p>
                    <p><strong>Budget:</strong> {{ project_category.budget }}</p>
                </div>
                {% endfor %}
                
                <div class="text-center">
                    <a class="btn btn-danger" href="{% url 'edit_project' project.id %}">Edit Project</a>
                    <a class="btn btn-danger" href="{% url 'create_project_category' project.id %}">Добавить категорию расхода</a>
                    <a class="btn btn-danger" href="{% url 'project_list' %}">Назад</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
